@charset "utf-8";

/* main banner */
h3 {font-size: 45px;}
.sub-title p, h4 {font-size: 20px;}

.bn-bg {
    height: 100svh; 
    background: url('../imgs/main.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.txt-wrap {
    position: absolute; left: 0; top:45%;
    width: 100%; 
    text-align: center;
}

.bn  h2 {
    margin-bottom: 10px;
    color: #f6f6f6;
    font-size: 80px;
    font-weight: 600;
}

.bn  p {
    color: #f6f6f6;
    font-size: 30px;
    font-weight: 500;
}

/* section 01 */
.com-wrap {
    display: flex;
    justify-content: space-between;
}
.com-con {
    position: relative;
    width: 450px;
    height: 550px;
    background: #eee;
    border-radius: 20px;
    text-align: center;
}
.com-con h4 {
    margin: 70px 0 5px;
    font-size: 40px;
}
.com-con h5 {
    font-size: 28px;
}
.com-con p {
    white-space: pre-line;
    margin-top: 60px;
}

.com-bg {
    width: 1000px;
    height: 550px;
    background: url('../imgs/section01_img.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 20px;
}

.btn {
    position: absolute;
    bottom: 90px; left: 50%;
    transform: translate(-50%,0);
}
/* section 02 */
.sub-title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px;
}
.sub-title .txt-b {
    color :#3980b8;
}
.sub-title p::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%; left: -1em;
    transform: translate(0,50%); 
    background: #3980b8;
    height: 1.2em;
    width: 3px;
}
.sub-title p {
    position: relative;
    margin-left: 2em;
}

.slide-wrap {
    position: relative;
}

.slide-img {
    margin: 0 auto;
    width: 940px;
    height: 600px;
    background: url('../imgs/img1.jpg');
    background-size: cover;
    border-radius: 20px;
    cursor: grab;
}

.slide-txt {
    position: absolute;
    width: 560px;
    height: 370px;
    left: 90px;
    bottom: 0;
    background: rgba(238, 238, 238, 0.9);
    border-radius: 10px;
    overflow: hidden;
}

.txt-list {
    display: flex;
    flex-wrap: nowrap;
}

.move {
    flex: 0 0 560px;
    height: inherit;
    transition: margin-left, margin-right 0.5s ease;
    padding: 50px 0 0 50px;
    white-space: pre-line;
    user-select: none;
}

.move h4 {
    font-size: 28px;
    text-align: left;
}

.slide-preview {
    position: absolute;
    width: 190px;
    height: 200px;
    right: 90px;
    bottom: 0;
    background: url('../imgs/img2.jpg');
    background-size: cover;
    border-radius: 10px;
}

.prev-btn, .next-btn {
    font-size: 40px;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.prev-btn {
    transform: rotate(180deg);
}

.next-btn {
    right: 0;
}

/* section 3 */
.banner {
    background: url('../imgs/banner03.jpg') no-repeat center center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.banner > * {
    color: #f6f6f6;
    z-index: 1;
}

.banner  h4 {
    font-size: 60px;
}

.banner  h5 {
    font-size: 30px;
}

/* section 4 */

.com-jum-bg {background: url('../imgs/owl1.jpg'); background-size: cover;}
.com-ai-bg {background: url('../imgs/owl2.jpg'); background-size: cover;}
.com-ptj-bg {background: url('../imgs/owl3.jpg'); background-size: cover;}
.com-name-bg {background: url('../imgs/owl4.jpg'); background-size: cover;}

/* Media Queries */
@media screen and (min-width: 1150px) and (max-width: 1549px) {
    h3 {font-size: 46px;}
    .sub-title p,h4 {font-size: 24px;}
    .sub-title {margin : 75px 0 40px}
    .bn  h2 {
        font-size: 60px;
    }

    .bn  p {
        font-size: 30px;
    }

    .com-con h4 {
        margin: 40px 0 5px;
        font-size: 36px;
    }
    .com-con h5 {
        font-size: 24px;
    }
    .com-con p {
        white-space: pre-line;
        margin-top: 50px;
    }

    .com-bg {
        width: 700px;
        height: 430px;
        border-radius: 16px;
    }

    .com-con {
        width: 350px;
        height: 430px;
        border-radius: 16px;
    }

    .btn {
        bottom: 60px;
    }

    .slide-img {
        width: 700px;
        height: 430px;
        border-radius: 16px;
    }

    .slide-txt {
        width: 410px;
        height: 270px;
        left: 67px;
        border-radius: 8px;
    }
    .move {
        flex: 0 0 410px;
        height: 370px;
        padding: 20px 0 0 50px;
    }
    .move p {
        margin-top: -10px;
    }
    .slide-preview {
        width: 150px;
        height: 140px;
        right: 67px;
        border-radius: 8px;
    }
    .banner {
        height: 400px;
    }

    .banner  h4 {
        font-size: 50px;
    }

    .banner  h5 {
        font-size: 20px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1150px) {
    h3 {font-size: 40px;}
    p {font-size: 15px;}

    .sub-title p,h4 { font-size: 20px;}
    .sub-title {margin : 55px 0 30px;}
    .btn {bottom: 30px;}

    .bn  h2 {
        font-size: 60px;
        line-height: 65px;
        text-transform: uppercase;
    }
    .bn  h2  .txt-b {display: block;}
    .bn  p {
        font-size: 20px;
    }

    .com-con h4 {
        margin: 25px 0 5px;
        font-size: 30px;
    }
    .com-con h5 {
        font-size: 20px;
    }
    .com-con p {
        margin-top: 30px;
    }

    .com-bg {
        width: 420px;
        height: 330px;
        border-radius: 11px;
    }

    .com-con {
        width: 280px;
        height: 330px;
        border-radius: 16px;
    }

    .slide-img {
        margin-left: 0;
        width: 584px;
        height: 300px;
        border-radius: 16px;
    }

    .slide-txt {
        width: 285px;
        height: 200px;
        left: 730px;
        transform: translate(-100%, 0);
        border-radius: 8px;
    }
    .move {
        flex: 0 0 285px;
        height: 200px;
        padding: 0 0 0 20px;
    }

    .move p {
        margin-top: -25px;
    }

    .slide-preview,
    .prev-btn,
    .next-btn {
        display: none;
    }

    .banner {
        height: 300px;
        text-align: center;
    }

    .banner  h4 {
        font-size: 44px;
    }

    .banner  h5 {
        font-size: 22px;
    }
}

@media screen and (max-width: 749px) {
    h3 {
        color :#3980b8;
        font-size: 40px; 
        line-height: 45px;
    }
    p {font-size: 15px;}

    .sub-title .txt-b {display: none;}
    .sub-title {margin: 55px 0 30px;}
    .btn {bottom: 30px;}

    html {
        min-width: 350px;
    }
    .bn {padding-top: 35vh;}
    .bn .txt-wrap { top: 35%; }
    .bn  h2 {
        font-size: 60px;
        text-transform: uppercase;
    }
    
    .bn  h2  .txt-none {display: none;}
    .bn  h2  span {
        display: block;
        margin-bottom: -20px;
    }

    .bn  p {
        font-size: 18px;
    }


    .com-bg {
        width: 100%;
        height: 390px;
        border-radius: 0;
    }
    .com-wrap {position: relative;}
    .com-con {
        position: absolute;
        left: 50%; top: 50%; transform: translate(-50%,-50%);
        width: 280px;
        height: 330px;
        border-radius: 16px;
        background: rgba(238, 238, 238, 0.9);
    }
    .com-con h4 {
        margin-top: 25px;
        font-size: 30px;
    }
    .com-con h5 {
        font-size: 20px;
    }
    .com-con p {
        margin-top: 30px;
    }
    .sub-title {
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .sub-title p::before {
        display: none;
    }
    .slide {
        margin-bottom: 60px;
    }

    .slide-img {
        width: 100%;
        height: 300px;
        border-radius: 0px;
    }

    .slide-txt {
        width: 285px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 8px;
    }

    .move {
        flex: 0 0 285px;
        height: 200px;
        padding: 0;
    }

    .move h4 {margin-bottom: 0; text-align: center; font-size: 20px;}
    .move p {
        text-align: center;
    }

    .move p {
        margin-top: -20px;
    }

    .slide-preview,
    .prev-btn,
    .next-btn {
        display: none;
    }

    .banner {
        margin-top: 60px;
        height: 300px;
        text-align: center;
    }

    .banner  h4 {
        font-size: 36px;
        margin-bottom: 10px;
        line-height: 44px;
        white-space: pre-line;
    }

    .banner  h5 {
        font-size: 18px;
    }
}
