@charset "utf-8";

.sub-bn-bg {
    position: relative;
    width: 100%; height: 100vh;
    background: url('../imgs/sub-bg.jpg') no-repeat center center;
    background-size:cover;
    z-index: -1;
}

.bn-blc {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100vh;
    background: rgba(0, 0, 0,0.6);
}

.bn-txt {
    position: absolute; left: 0; top:45%;
    width: 100%; 
    text-align: center;
    z-index: 1;
}

.bn p {color: #f6f6f6; font-weight: 500;}

h2 {color: #f6f6f6;font-weight: 600;}

.sub-title h3{position: relative;}

.sub-title h3::before {
    position: absolute;
    content: ''; display: block;
    background: #85c3f3;
}

.sup-sp-con {border-radius:20px; text-align:center;}

.btn {position: absolute; transform: translate(-50%, 0);}

.sup-sp-bg {
    background:url('../imgs/sup-sp-bg.jpg')no-repeat center center;         background-size: cover;
}

.bn-second {
    position: relative;
    text-align: center; align-content: center; z-index: -1;
}

.sub-bf-bg {
    background: url('../imgs/sup-bn-second.jpg') no-repeat center center;
    background-size:cover;
}
.bn-second-blc {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0,0.6);
    z-index: -1;
}

.sup-suit-bg {
    background:url('../imgs/owl-suit-bg.jpg') no-repeat center center;
    background-size:cover;
}
.sup-itd-bg {
    background:url('../imgs/owl-itd-bg.jpg') no-repeat center center;
    background-size:cover;
}
.sup-cft-bg {
    background:url('../imgs/owl-cft-bg.jpg') no-repeat center center;
    background-size:cover;
}
.sup-stm-bg {
    background:url('../imgs/owl-stm-bg.jpg') no-repeat center center;
    background-size:cover;
}

.bn-second h3, .bn-second p {color: #f6f6f6;}

@media screen and (min-width:1550px) {

    h2 {
        padding-bottom: 10px; font-size: 80px;text-transform: capitalize;
    }

    .bn p {font-size: 30px;}

    .sub-title {
        display: flex; justify-content: center; align-items:end;
        height: 55px; margin: 0 auto 50px;
    }
    .sub-title h3{font-size: 50px; text-transform: capitalize;}
    .sub-title h3::before {
        bottom: 2px; right: -20px;
        width: 4px; height: 55px;
    }
    .sub-title h4{margin-left: 40px; font-size: 25px;}

    .sup-sp-wrap {display: flex; justify-content: space-between; margin-bottom: 100px;}

    .sup-sp-con {
        position: relative;
        width:450px; height:550px;
        background: #eee;
    }
    .sup-sp-con h3 {padding:60px 0 5px; font-size:40px;}
    .sup-sp-con h4 {font-size:28px; font-weight:500}
    .sup-sp-con p{width:240px; margin:70px auto}
    .btn {left: 50%; bottom: 70px;}

    .sup-sp-bg {width:1000px; height:550px; border-radius:20px;}

    .bn-second {height: 500px; margin: 100px auto;}

    .bn-second h3 {font-size: 60px;}
    .bn-second p{font-size: 30px;}
}

@media screen and (min-width:1150px) and (max-width:1549px) {

    h2 {
        padding-bottom: 10px; font-size: 60px;
        text-transform: capitalize;
    }

    .bn p {font-size: 25px;}

    .sub-title {
        display: flex; justify-content: center; align-items:end;
        height: 46px; margin: 0 auto 40px;
    }
    .sub-title h3{
        padding: 0; margin: 0;
        font-size: 46px; text-transform: capitalize;
    }
    .sub-title h3::before {
        bottom: 2px; right: -20px;
        width: 4px; height: 46px;
    }
    .sub-title h4{padding-left: 40px; font-size: 20px;}

    .sup-sp-wrap {display: flex; justify-content: space-between; padding-bottom: 80px;}

    .sup-sp-con {
        position: relative;
        width:350px; height:430px;
        background: #eee;
    }
    .sup-sp-con h3 {padding:45px 0 5px; font-size:36px;}
    .sup-sp-con h4 {font-size:24px; font-weight:500}
    .sup-sp-con p{width:240px; margin:50px auto}
    .btn {left: 50%; bottom: 50px;}

    .sup-sp-bg {
        width:700px; height:430px;         border-radius:20px;}

    .bn-second {height: 400px; margin: 80px auto;}

    .bn-second h3 {font-size: 50px;}
    .bn-second p{font-size: 20px;}
}

@media screen and (min-width:750px) and (max-width:1149px) {

    h2 {
        width: 700px; margin: 0 auto;padding-bottom: 15px;
        font-size: 60px;
        line-height: 65px;
        text-transform: uppercase;
    }

    .bn p {font-size: 20px;}

    .sub-title {
        display: flex; justify-content: center; align-items:end;
        height: 45px; margin: 0 auto 30px;
    }
    .sub-title h3{font-size: 40px; text-transform: capitalize;}
    .sub-title h3::before {
        bottom: 2px; right: -20px;
        width: 4px; height: 40px;
    }
    .sub-title h4{padding-left: 40px; font-size: 18px;}

    .sup-sp-wrap {display: flex; justify-content: space-between; padding-bottom: 60px;}

    .sup-sp-con {
        position: relative;
        width:280px; height:330px;
        background: #eee;
    }

    .sup-sp-con h3 {padding:25px 0 5px; font-size:30px;}
    .sup-sp-con h4 {font-size:20px; font-weight:500}
    .sup-sp-con p {width:240px; margin:30px auto; font-size: 15px;}
    .btn {left: 50%; bottom: 30px;}

    .sup-sp-bg {width:420px; height:330px; border-radius:20px;}

    .bn-second {height: 300px; margin: 60px auto;}

    .bn-second h3 {font-size: 36px;}
    .bn-second p{font-size: 18px;}
}

@media screen and (max-width:749px) {

    .bn-txt {top:35%;}

    h2 {
        width: 330px; margin: 0 auto 15px;
        font-size: 60px; line-height: 65px;
        text-transform: uppercase;
    }

    .bn p {
        width: 280px; margin: 0 auto; font-size: 18px;}

    .sub-title {
        margin: 0 auto 30px;
        text-transform: capitalize; text-align: center;
    }
    .sub-title h3{font-size: 40px;}
    .sub-owl-title h3::before {
        left: 50%; bottom: -10px;
        width: 280px; height: 4px;
        transform: translate(-50%, 0);
    }
    
    .sub-shot-title h3::before {
        position: absolute; left: 50%; bottom: -10px;
        content: ''; display: block; 
        width: 170px; height: 4px;
        background: #85c3f3;
        transform: translate(-50%, 0);
    }
    .sub-title h4{padding-top: 20px; font-size: 20px;}

    .sup-sp-wrap {position: relative; width: 100%; height: 350px; margin-bottom: 60px;}

    .sup-sp-con {
        position: absolute; left: 50%; top: 10px;
        width:280px; height:330px;
        background: rgba(238, 238, 238,0.85);
        transform: translate(-50%, 0);
        z-index: 1;
    }
    .sup-sp-con h3 {padding:25px 0 5px; font-size:30px;}
    .sup-sp-con h4 {font-size:20px; font-weight:500}
    .sup-sp-con p {width:240px; margin:30px auto; font-size: 15px;}
    .btn {left: 50%; bottom: 30px;}

    .sup-sp-bg {
        position: absolute; left: 0; top: 0;
        width:100%; height: 350px;        
    }

    .bn-second {height: 300px; margin: 60px auto;}

    .bn-second h3 {width: 260px; margin: 0 auto 5px; font-size: 36px;}
    .bn-second p{width: 220px; margin: 0 auto;font-size: 18px;}
}